@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body, html {
  text-align: center;
  padding: 16px;
  font-family: 'Open Sans', sans-serif;
}

#title {
  text-decoration: none;
  color: #333;
  opacity: 0.75;
  transition: 0.7s;
}

#title:hover {
  opacity: 1;
}