<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>QuizBomb</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
    <style>
      img {
        vertical-align: middle;
      }
    </style>
  </head>
  <body>

    <a href="/" id="title">
      <img src="{{ url_for('static', filename='favicon.png') }}" width="50" height="50"/><h1 style="display: inline">QuizBomb</h1>
    </a>

    <br>

    <div class="navbar">
      {% if userexists is defined %}
        <a href="{{ url_for('play') }}">Home</a>
      {% else %}
        <a href="{{ url_for('index') }}">Home</a>
      {% endif %}
      <a href="{{ url_for('play') }}">Explore</a>
      <a href="{{ url_for('join') }}">Join</a>
    </div>

    <br><br><br>

    {% block content %}{% endblock %}
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>