<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>QuizBomb</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.jpg') }}">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
  </head>
  <body>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <h1 style="text-align: center">QuizBomb</h1>

    <br><br><br><!--edit later -->

    <center><button>Play Now!</button></center>
    <!--Add styling to button and functions to button-->
  </body>
</html>